<web-app>
	<error-page>
		<error-code>404</error-code>
		<location>/ch11/errorCode_404_error.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>500</error-code>
		<location>/ch11/errorCode_500_error.jsp</location>
	</error-page>
	
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/ch11/exceptionType_error.jsp</location>
	</error-page>
	
	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/ch11/errorNullPointer.jsp</location>
	</error-page>
</web-app>